<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="okgoogleplugin" version="1.0.0">
	<name>
		Google Now Integration Plugin
	</name>
	<description>
		Allows you to extendt the oke google commands
	</description>
	<license>
		Apache 2.0
	</license>
	<keywords>
		cordova, google now
	</keywords>
	<engines>
		<engine name="cordova-android" version=">=4.0.0" />
	</engines>
	<asset src="www/okgoogleplugin.js" target="js/okgoogleplugin.js" />
	<js-module src="www/okgoogleplugin.js" name="okgoogleplugin">
		<clobbers target="okgoogleplugin" />
	</js-module>
	<platform name="android">
         <framework src="com.android.support:support-v4:23.+" />
		<source-file src="src/android/OkGooglePlugin.java" target-dir="src/com/plugin/okgoogle/" />
        <source-file src="src/android/GoogleNowIntegrationService.java" target-dir="src/com/plugin/okgoogle/" />
        <resource-file src="src/android/res" target="res" />
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:label="@string/accessibility_service_label" android:name="com.plugin.okgoogle.GoogleNowIntegrationService" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
				<intent-filter>
					<action android:name="android.accessibilityservice.AccessibilityService" />
				</intent-filter>
				<meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility_service_config" />
			</service>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
		</config-file>

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="OkGooglePlugin">
				<param name="android-package" value="com.plugin.okgoogle" />
			</feature>
		</config-file>

		<config-file target="res/values/strings.xml" parent="/*">
			<string name="accessibility_service_description">
				Intercept searches from Google Now and use them as VoiceCommand commands.
			</string>
			<string name="accessibility_service_label">
				VoiceCommand Google Now Integration
			</string>
		</config-file>
	</platform>
</plugin>
